{% extends "base.html" %}

{% block title %}Login{% end %}

{% block body %}
<div class="form-block w-form">
  <form id="email-form" name="email-form" data-name="Email Form" class="form w-clearfix">
    <label for="name">Email
    </label>
    <input type="text" id="name" name="name" data-name="Name" maxlength="256" class="text-field w-input">
    <label for="email">Password
    </label>
    <input type="email" class="text-field w-input" maxlength="256" name="email" data-name="Email" id="email" required="">
    <input type="submit" value="Start Trading" data-wait="Please wait..." class="button w-button">
  </form>
  <div class="w-form-done">
    <div>Thank you! Your submission has been received!
    </div>
  </div>
  <div class="w-form-fail">
    <div>Oops! Something went wrong while submitting the form.
    </div>
  </div>
</div>
{% end %}
