{% extends "base.html" %}

{% block title %}Monitor{% end %}

{% block body %}
<div>
  <div class="w-row">
    <div class="w-col w-col-6">
      <div>
        <p>Current Session: Session A
	</p>
      </div>
    </div>
    <div class="w-col w-col-6">
      <p>Performance : +64%
      </p>
    </div>
  </div>
</div>
<div>
</div>
<div>
  <div class="w-row">
    <div class="w-col w-col-9">
      <div class="w-row">
        <div class="w-col w-col-4">
          <p>Portfolio Value: XXXXX
	  </p>
        </div>
        <div class="w-col w-col-4">
          <p>Cash: XXXX
	  </p>
        </div>
        <div class="w-col w-col-4">
          <p>Exposure: XXXX
	  </p>
        </div>
      </div>
      <p>Positions
      </p>
      <div>
      </div>
    </div>
    <div class="w-col w-col-3">
      <div>
	<a href="#" class="button w-button">Pause Session
	</a>
      </div>
      <div>
	<a href="#" class="button w-button">Reconfigure
	</a>
      </div>
      <div>
	<a href="#" class="button w-button">End Session
	</a>
      </div>
    </div>
  </div>
</div>
{% end %}
