{% extends "base.html" %}

{% block title %}Setup{% end %}

{% block body %}
<div class="form-block-3 w-form">
    <form id="wf-form-setup_form" name="wf-form-setup_form" data-name="setup_form" class="w-clearfix">
        <div class="columns w-row">
            <div class="w-col w-col-6">
                <label>Session Name</label>
                <input type="text" class="text-field w-input" maxlength="256" name="field" data-name="Field" placeholder="Any session name you fancy" id="field" required="">
                <label>MongoDB Host</label>
                <input type="text" class="text-field w-input" maxlength="256" name="field-2" data-name="Field 2" placeholder="Hostname or IP" id="field-2" required="">
                <label>MongoDB Port</label>
                <input type="text" class="text-field w-input" maxlength="256" name="field-3" data-name="Field 3" placeholder="Port number" id="field-3" required="">
                <label>Database Name</label>
                <input type="text" class="text-field w-input" maxlength="256" name="field-4" data-name="Field 4" id="fnield-4" required="">
            </div>
            <div class="w-col w-col-6"><label>Commission Model</label><select id="field-7" name="field-7" class="w-select">
                    <option value="">Select one...</option>
                    <option value="First">First Choice</option>
                    <option value="Second">Second Choice</option>
                    <option value="Third">Third Choice</option>
                </select><label>Slippage Model</label><select id="field-8" name="field-8" class="w-select">
                    <option value="">Select one...</option>
                    <option value="First">First Choice</option>
                    <option value="Second">Second Choice</option>
                    <option value="Third">Third Choice</option>
                </select></div>
        </div>
        <a href="#" class="button w-button">Test DB Connection</a>
        <input type="submit" value="Submit" data-wait="Please wait..." class="button middlesubmit w-button">
    </form>
    <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
    </div>
    <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
    </div>
</div>
{% end %}
