{% extends "base.html" %}

{% block title %}Sign Up{% end %}

{% block body %}
<h1 class="heading-2">Sign up</h1>
<div class="form-block-2 w-form">
  <form id="email-form" name="email-form" data-name="Email Form" class="w-clearfix">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" data-name="email" maxlength="256" class="text-field w-input">
    <label for="password-2">Password</label>
    <input type="password" class="text-field w-input" maxlength="256" name="password" data-name="password" id="password-2" required="">
    <label for="password_again">Password (again)</label>
    <input type="password" class="text-field w-input" maxlength="256" name="password_again" data-name="password_again" id="password_again" required="">
    <input type="submit" value="Submit" data-wait="Please wait..." class="button w-button"></form>

    <div class="w-form-done">
	<div>Thank you! Your submission has been received!</div>
    </div>
    <div class="w-form-fail">
	<div>Oops! Something went wrong while submitting the form.</div>
    </div>
</div>
{% end %}
