.overlay_container {
    position: relative;
    overflow: auto;
}

.overlay_div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

.strategy_board {
    width:500px;
    height:500px;
}

.right_top_corner {
    position: absolute;
    top: 5px;
    right: 10px;
}

.icon {
    width: 50px;
    height: 50px;
}

.search_panel {
    background: red;
    opacity: 0.5;
}

.z_index_0 {
    z-index: 0;
}

.z_index_1 {
    z-index: 1;
}

.z_index_2 {
    z-index: 2
}

.z_index_3 {
    z-index: 3
}

.z_index_4 {
    z-index: 4
}

.z_index_5 {
    z-index: 5
}
